footer{
    border-top: solid 1px rgba(226,226,226, 1);
    bottom: 0;
    width: 100%;
    margin-top: 5%;
    position: relative;
}

ul {
    list-style-type: none;
}


li{
    display: block;
    text-align: center;
    padding: 0 30px;
    font-size: 14px;
    font-weight: lighter;
    color: grey;
}
