<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/account.css">
    <script type="text/javascript" src="/js/load_nav_footer.js"  th:src="@{/js/load_nav_footer.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/account.css}" href="/static/css/home.css">
    <title>SECUBANK</title>
</head>
<div id="navbar"></div>
<body>
<div class="container">

    <div class="inner_container">
        <section class="acc_section1">
            <div class="acc_card1">
                <h2 th:text="${accountDto.accountType}"></h2>
                <h2 style="font-weight: normal" th:text="${accountDto.accountNumber}"></h2>
                <div class="card_amount">
                    <h3>$</h3>
                    <h3 th:text="${accountDto.balance}"></h3>
                </div>
                <p>Details: - 8% month over month</p>
            </div>

            <div class="section1_container1">
<!--                <h4>Recent Transactions</h4>-->

                <button class="option1"> <a th:href="@{/transferByAccountNum}"> Transfer between Accounts </a></button>
                <button class="option1"> <a th:href="@{/transferByEmail}"> Send Money </a></button>
            </div>
        </section>

        <section class="acc_section2">

            <div class="acc_card2">
               <div>
                   <h2> Account Details:  </h2>
                   <h2 th:text="${accountDto.accountNumber.substring(accountDto.accountNumber.length()-3)}"></h2></div>
                <div>
                    <h4>Account Number</h4>
                    <h4 class="acc_info" th:text="${accountDto.accountNumber}"></h4>
                </div>
                <div>
                    <h4>Routing Number</h4>
                    <h4 class="acc_info" >674116</h4>
                </div>
                <div th:if="${accountDto.accountType.toString() == 'CHECKING'}">
                    <form  method="POST" th:action="@{/users/card/{id}(id=${accountDto.accountId})}" th:object="${card}">
                            <button class="activate_btn"> <a> Activate Card </a></button>
                    </form>
                </div>
                <button th:if="${accountDto.accountType.toString() == 'CHECKING'}" class="activate_btn1"> <a th:href="@{/users/card/{id}(id=${accountDto.accountId})}"> See Details </a></button>
            </div>

            <div class="section2_container 1">
                <form>
    <!--                TODO: Add icon -->
    <!--                TODO: Implement search bar functionality-->
                    <input type="search" placeholder="Search" name="search">
                    <button class="filter_btn">Filter</button>
                </form>
            </div>
        </section>
    </div>

    <section class="acc_section3">
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Balance</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.amount}"></td>
                    <td th:text="${transaction.description}"></td>
                    <td th:text="${transaction.date.toString().substring(0, 10)}">
<!--                    <td th:text="${transaction.account.prevBalance}">-->
                    <td style="text-align: right">
                    <div style="display: flex; justify-content: flex-end; align-items: center;">
                        <p style="margin: 0;">$</p>
                        <p style="margin: 0; margin-left: 5px; font-weight: bold" th:text="${transaction.account.balance}"></p>
                    </div>
                    <div style="display: flex; justify-content: flex-end; align-items: center; margin-top: 5px; ">
                        <p style="margin: 0;">$</p>
                        <p style="margin: 0; margin-left: 5px;" th:text="${transaction.account.prevBalance}"></p>
                    </div>
                </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>

    <div id="footer"></div>
    <a th:href="@{/logout}">Logout</a>
    <script src="/js/load_nav_footer.js"></script>
</body>
</html>