<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/account.css">
    <title>SECUBANK</title>
</head>
<div id="navbar"></div>
<body>
<div class="container">
    <h1>ACCOUNT NAME</h1>

    <div class="inner_container">
        <section class="acc_section1">
            <div class="acc_card1">
                <h2>Account Name #1 - 1111</h2>
                <h3>$10,000</h3>
                <p>Details: -8% month over month</p>
            </div>

            <div class="section1_container1">
                <h4>Recent Transactions</h4>
                <button >Make Transfer</button>
            </div>
        </section>

        <section class="acc_section2">

            <div class="acc_card2">
                <h2>Account Details - 111</h2>
                <div>
                    <h4>Account Number</h4>
                    <h4 class="acc_info">2681145511500</h4>
                </div>
                <div>
                    <h4>Routing Number</h4>
                    <h4 class="acc_info">674116</h4>
                </div>
            </div>

            <div class="section2_container 1">
                <form>
    <!--                TODO: Add icon -->
    <!--                TODO: Implement search bar functionality-->
                    <input type="search" placeholder="Search" name="search">
                    <button class="filter_btn">Filter</button>
                </form>
            </div>
        </section>
    </div>

    <section class="acc_section3">
        <table>
            <tr>
                <th>Amount</th>
                <th>Description</th>
                <th>Date</th>
                <th>Balance</th>
            </tr>
            <tr>
                <td>$30</td>
                <td>Speedway</td>
                <td>07/15/2024</td>
                <td>$10,320</td>
            </tr>
            <tr>
                <td>$28</td>
                <td>Mall</td>
                <td>08/15/2024</td>
                <td>$10,820</td>
            </tr>
            <tr>
                <td>$100</td>
                <td>Restaurant</td>
                <td>08/17/2024</td>
                <td>$10,320</td>
            </tr>
            <tr>
                <td>$100</td>
                <td>Restaurant</td>
                <td>08/17/2024</td>
                <td>$10,320</td>
            </tr>
        </table>
    </section>
</div>

    <div id="footer"></div>
    <script src="/static/js/load_nav_footer.js"></script>
</body>
</html>