<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SECUBANK</title>
</head>
<body>
    <div id="navbar"></div>
    <h1>Account Name</h1>
    <section>
        <div>
            <h2>Account Name #1 - 1111</h2>
            <h3>$10,000</h3>
            <p>Details: -8% month over month</p>
        </div>

        <div>
            <h4>Recent Transactions</h4>
            <button>Make Transfer</button>
        </div>
    </section>

    <section>
    <div>
        <div>
            <h2>Account Name #2 - 1111</h2>
            <div>
                <h4>Account Number</h4>
                <p>2681145511500</p>
            </div>
            <div>
                <h4>Routing Number</h4>
                <p>674116</p>
            </div>
        </div>

        <div>
            <form>
<!--                TODO: Add icon -->
<!--                TODO: Implement search bar functionality-->
                <input type="text" placeholder="Search" name="search">
                <button>Filter</button>
            </form>
        </div>
    </div>
    </section>

    <hr>

    <table>
        <tr>
            <th>Amount</th>
            <th>Description</th>
            <th>Date</th>
            <th>Balance</th>
        </tr>
        <tr>
            <td>$30</td>
            <td>Speedway</td>
            <td>07/15/2024</td>
            <td>$10,320</td>
        </tr>
        <tr>
            <td>$28</td>
            <td>Mall</td>
            <td>08/15/2024</td>
            <td>$10,820</td>
        </tr>
        <tr>
            <td>$100</td>
            <td>Restaurant</td>
            <td>08/17/2024</td>
            <td>$10,320</td>
        </tr>
    </table>
    <div id="footer"></div>

    <script src="/static/js/load_nav_footer.js"></script>
</body>
</html>