<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="/static/css/footer.css">-->
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="/static/css/home.css">
    <title>SECUBANK</title>
</head>
<body>
<footer>
    <section>
    <ul>
        <li style="float:left; font-weight: bolder; font-size: 28px; color: black">SECUBANK</li>
            <p style="text-align: left; padding-top: 3%;">
                <li>Urna velit lectus maecenas fames ullamcorper accumsan ante augue. Posuere tempus suspendisse lectus iaculis, finibus libero sed. Praesent platea ante etiam taciti lacus a.</li>
                <li>Urna velit lectus maecenas fames ullamcorper accumsan ante augue. Posuere tempus suspendisse lectus iaculis, finibus libero sed. Praesent platea ante etiam taciti lacus a.</li>
                <li>Urna velit lectus maecenas fames ullamcorper accumsan ante augue. Posuere tempus suspendisse lectus iaculis, finibus libero sed. Praesent platea ante etiam taciti lacus a.</li>
            </p>

        <li>Copyright</li>
        <li>Terms & Services</li>
        <li>&copy; 2024 Company Name</li>
    </ul>
    </section>

    <hr>



    <ul>
        <li>Contact</li>
        <li>Fees</li>
        <li>Security</li>
    </ul>
</footer>
</body>
</html>