<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SECUBANK</title>
</head>
<body>
    <h1>MY ACCOUNTS</h1>
    <section>
        <div>
            <h2>Account Name #1 - 1111</h2>
            <h3>$10,000</h3>
            <p>Details: -8% month over month</p>
        </div>

        <div>
            <h2>Account Name #2 - 1111</h2>
            <h3>$10,000</h3>
            <p>Details: -8% month over month</p>
        </div>

        <div>
            <h2>Account Name #3 - 1111</h2>
            <h3>$10,000</h3>
            <p>Details: -8% month over month</p>
        </div>
    </section>

    <hr>

    <section>
        <div>
            <h2>Notifications</h2>
            <div>
                <img src="" alt="notification_img"/>
                <h5>Payments</h5>
                <p>Description: Payment due in 3 days</p>
            </div>

            <div>
                <img src="" alt="notification_img"/>
                <h5>Payments</h5>
                <p>Description: You sent $400 to Mom</p>
            </div>

            <div>
                <img src="" alt="notification_img"/>
                <h5>Payments</h5>
                <p>Description: You spent more than your earnings</p>
            </div>
        </div>
    </section>

    <hr>

    <section>
        <div>
            <h4>Article Title 1</h4>
            <p>Phasellus nec metus eget erat cursus tincidunt. Integer est nisi, rhoncus nec neque ac, congue condimentum mi. Integer fringilla consequat felis, sit amet ullamcorper lectus aliquet eu. Donec quis ex ut est malesuada vehicula at sit amet nisl. </p>
        </div>

        <div>
            <h4>Article Title 2</h4>
            <p>Phasellus nec metus eget erat cursus tincidunt. Integer est nisi, rhoncus nec neque ac, congue condimentum mi. Integer fringilla consequat felis, sit amet ullamcorper lectus aliquet eu. Donec quis ex ut est malesuada vehicula at sit amet nisl. </p>
        </div>

        <div>
            <h4>Article Title 3</h4>
            <p>Phasellus nec metus eget erat cursus tincidunt. Integer est nisi, rhoncus nec neque ac, congue condimentum mi. Integer fringilla consequat felis, sit amet ullamcorper lectus aliquet eu. Donec quis ex ut est malesuada vehicula at sit amet nisl. </p>
        </div>
    </section>
</body>
</html>