<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SECUBANK</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<div id="navbar"></div>
<body>


    <main>
    <h1>MY ACCOUNTS</h1>
    <section class=section1>
        <div class="account_card">
            <h3>Account Name #1 - 1111</h3>
            <h2>$10,000</h2>
            <p>Details: -8% month over month</p>
        </div>

        <div class="account_card">
            <h3>Account Name #2 - 1111</h3>
            <h2>$10,000</h2>
            <p>Details: -8% month over month</p>
        </div>

        <div class="account_card">
            <h3>Account Name #3 - 1111</h3>
            <h2>$10,000</h2>
            <p>Details: -8% month over month</p>
        </div>
    </section>


    <h2 id="notification_title">NOTIFICATIONS</h2>
    <section class="section2">
        <div class="notifications_container">
            <div class="notification_card">
                <div class="circle">
                </div>
                <div class="desc">
                <h5>Payments</h5>
                <p>Description: Payment due in 3 days</p>
                </div>
            </div>

            <div class="notification_card">
                <div class="circle">
                </div>
                <div class="desc">
                    <h5>Payments</h5>
                    <p>Description: Payment due in 3 days</p>
                </div>
            </div>

            <div class="notification_card">
                <div class="circle">
                </div>
                <div class="desc">
                    <h5>Payments</h5>
                    <p>Description: You spent more than your earnings</p>
                </div>
            </div>

        </div>

        <div>
            <img src="/static/images/img1.jpeg" alt="home_img" id="home_img">
        </div>
    </section>


    <section class="section3">
        <article class="article_container">
            <img src="/static/images/img2.jpeg" alt="home_img" class="home_img">
            <h4>Article Title 1</h4>
            <p>Sed vehicula metus eu libero condimentum, at scelerisque risus dictum. Sed eleifend porta nulla, varius vehicula ligula congue sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum est sed rhoncus sollicitudin. Sed cursus mattis nulla, a posuere felis. Vestibulum scelerisque tortor vitae lectus laoreet, id fringilla sapien gravida. Quisque at magna ac sapien gravida lacinia. Ut fermentum dictum tristique. Suspendisse ipsum dolor, posuere ut libero vitae, malesuada gravida nulla. Morbi tincidunt, tellus vitae rutrum fermentum, risus lacus pulvinar lorem, eget accumsan neque dolor sed sapien. Sed ac feugiat diam. Vestibulum fringilla est volutpat justo elementum, et rutrum elit tristique.</p>
        </article>

        <article class="article_container">
            <img src="/static/images/img2.jpeg" alt="home_img" class="home_img">
            <h4>Article Title 2</h4>
            <p>Sed vehicula metus eu libero condimentum, at scelerisque risus dictum. Sed eleifend porta nulla, varius vehicula ligula congue sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum est sed rhoncus sollicitudin. Sed cursus mattis nulla, a posuere felis. Vestibulum scelerisque tortor vitae lectus laoreet, id fringilla sapien gravida. Quisque at magna ac sapien gravida lacinia. Ut fermentum dictum tristique. Suspendisse ipsum dolor, posuere ut libero vitae, malesuada gravida nulla. Morbi tincidunt, tellus vitae rutrum fermentum, risus lacus pulvinar lorem, eget accumsan neque dolor sed sapien. Sed ac feugiat diam. Vestibulum fringilla est volutpat justo elementum, et rutrum elit tristique. </p>
        </article>

        <article class="article_container">
            <img src="/static/images/img2.jpeg" alt="home_img" class="home_img">
            <h4>Article Title 3</h4>
            <p>Sed vehicula metus eu libero condimentum, at scelerisque risus dictum. Sed eleifend porta nulla, varius vehicula ligula congue sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rutrum est sed rhoncus sollicitudin. Sed cursus mattis nulla, a posuere felis. Vestibulum scelerisque tortor vitae lectus laoreet, id fringilla sapien gravida. Quisque at magna ac sapien gravida lacinia. Ut fermentum dictum tristique. Suspendisse ipsum dolor, posuere ut libero vitae, malesuada gravida nulla. Morbi tincidunt, tellus vitae rutrum fermentum, risus lacus pulvinar lorem, eget accumsan neque dolor sed sapien. Sed ac feugiat diam. Vestibulum fringilla est volutpat justo elementum, et rutrum elit tristique. </p>
        </article>
    </section>
    </main>
    <div id="footer"></div>

    <script src="/static/js/load_nav_footer.js"></script>
</body>
</html>