<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>SECUBANK</title>
</head>

<div id="navbar"></div>

<body>
    <div class="login_container">
        <section class="l_section1">
            <h1>SIGN IN</h1>
            <p>Donec pellentesque quis ex eget consequat. Sed ornare sagittis nisl ac gravida.</p>
            <form th:action="@{/login}" method="post">
                <div class="f_section1">
                    <div class="f_group">
                        <label for="first_name">First Name</label><br>
                        <input type="text" id="first_name" name="first_name" placeholder="Jessica"><br>
                    </div>
                    <div class="f_group">
                        <label for="last_name">Last Name</label><br>
                        <input type="text" id="last_name" name="last_name" placeholder="Smith"><br>
                    </div>
                </div>

                <div class="f_group">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" placeholder="your username"><br>
                </div>

                <div class="f_group">
                    <label for="password">Password</label><br>
                    <input type="password" id="password" name="password"><br>
                </div>
                <button class="submit_form">SIGN IN</button>
            </form>

            <hr>

            <button id="google_btn">Google</button>
            <p id="details">By clicking continue, you agree to our <b style="color: rgba(7,10,5,0.73)">Terms of Service</b> and <b style="color: rgba(7,10,5,0.73)">Privacy Policy</b></p>
            <p>Don't have an account? <a th:href="@{/register}">Register here</a></p>
        </section>
        <section class="l_section2">
            <img th:src="@{/images/img1.jpeg}" alt="login_img"/>
        </section>
    </div>
    <div id="footer"></div>

    <script src="/static/js/load_nav_footer.js"></script>
</body>
</html>
