<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SECUBANK</title>
</head>
<body>
    <div id="navbar"></div>
    <section>
        <h1>SIGN IN</h1>
        <p>Donec pellentesque quis ex eget consequat. Sed ornare sagittis nisl ac gravida.</p>
        <form>
            <label for="first_name">First Name</label><br>
            <input type="text" id="first_name" name="first_name"><br>
            <label for="last_name">Last Name</label><br>
            <input type="text" id="last_name" name="last_name"><br>
            <label for="user_email">Email</label><br>
            <input type="email" id="user_email" name="user_email"><br>
            <input type="submit">
        </form>
        <hr>
        <button>Google</button>
        <p>By clicking continue, you agree to our <b>Terms of Service</b> and <b>Privacy Policy</b></p>
    </section>
    <section>
        <img src="/images/profile_Img.jpg" alt="login_img"/>
    </section>
    <div id="footer"></div>

    <script src="/static/js/load_nav_footer.js"></script>
</body>
</html>