<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/navBar.css">
</head>
<body>

<nav class="nav_bar">
    <ul>
        <li style="float:left; font-weight: bolder; font-size: 28px" class="nav_item"><a href="home.html">SECUBANK</a></li>
        <li class="nav_item"  style="margin-right: 5px"><a href="profile.html">PROFILE</a></li>
        <li class="nav_item"><a href="login.html">SIGN IN</a></li>
        <li class="nav_item"><a href="account.html">ACCOUNT</a></li>
        <li class="nav_item"><a href="transactions.html">TRANSACTIONS</a></li>
    </ul>
</nav>

<script src="/static/js/load_nav_footer.js"></script>
</body>
</html>