<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SECUBANK</title>
</head>
<body>
    <h1>Notifications</h1>
    <section>
        <!--    TODO: CHART -->
        <h1>CHART</h1>
    </section>

    <hr>
    
    <section>
        <div>
            <div>
                <img src="" alt="notification_img"/>
                <h5>Payments</h5>
                <p>Description: Payment due in 3 days</p>
            </div>
            <div>
                <img src="" alt="notification_img"/>
                <h5>Transactions</h5>
                <p>Description: You sent $400 to Mom</p>
            </div>
            <div>
                <img src="" alt="notification_img"/>
                <h5>Spending</h5>
                <p>Description: You spend more than your earnings</p>
            </div>
        </div>

        <div>
            <img src="/static/profile_Img.jpg" alt="notifications_img"/>
        </div>
    </section>
</body>
</html>