<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SECUBANK</title>
</head>
<body>
    <div id="navbar"></div>
    <h1>My Profile</h1>
    <section>
        <form>
            <label for="first_name">First Name</label><br>
            <input type="text" id="first_name" name="first_name"><br>
            <label for="last_name">Last Name</label><br>
            <input type="text" id="last_name" name="last_name"><br>
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="user_email">Email</label><br>
            <input type="email" id="user_email" name="user_email"><br>
            <label for="bio">Bio</label>
            <input type="text" id="bio" name="bio"><br>
            <button>Edit Profile</button>
        </form>
    </section>
    <section>
        <img src="/images/profile_Img.jpg" alt="profile_img">
    </section>
    <div id="footer"></div>

    <script src="/static/js/load_nav_footer.js"></script>
</body>
</html>