<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Recent Transactions</h3>
<div class="transaction_card" th:each="transaction : ${transactions}">
    <table>
        <tr>
            <th>Amount</th>
            <th>Description</th>
            <th>Date</th>
            <th>Balance</th>
        </tr>
        <tr>
            <td th:text="${transaction.amount}"></td>
            <td th:text="${transaction.description}">Speedway</td>
            <td th:text="${transaction.date}">07/15/2024</td>
            <td th:text="${transaction.account.balance}">$10,320</td>
        </tr>
<!--        <tr>-->
<!--            <td>$28</td>-->
<!--            <td>Mall</td>-->
<!--            <td>08/15/2024</td>-->
<!--            <td>$10,820</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>$100</td>-->
<!--            <td>Restaurant</td>-->
<!--            <td>08/17/2024</td>-->
<!--            <td>$10,320</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>$100</td>-->
<!--            <td>Restaurant</td>-->
<!--            <td>08/17/2024</td>-->
<!--            <td>$10,320</td>-->
<!--        </tr>-->
    </table>
<!--    <div class="circle">-->
<!--    </div>-->

<!--    <div class="t_desc">-->
<!--        <h5>First LastName</h5>-->
<!--        <p>Amount: $20</p>-->
<!--        <p>Description: Transfer sent to Polly</p>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="notification_card">-->
<!--    <div class="circle">-->
<!--    </div>-->
<!--    <div class="t_desc">-->
<!--        <h5>First LastName</h5>-->
<!--        <p>Amount: 300</p>-->
<!--        <p>Description: Transfer between accounts</p>-->
<!--    </div>-->

<!--</div>-->

<!--<div class="notification_card">-->
<!--    <div class="circle">-->
<!--    </div>-->

<!--    <div class="t_desc">-->
<!--        <h5>First LastName</h5>-->
<!--        <p>Amount: $20</p>-->
<!--        <p>Description: Transfer sent to Laura</p>-->
<!--    </div>-->
</div>

</body>
</html>