<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SECUBANK</title>
    <link rel="stylesheet" href="/static/css/transactions.css">
</head>
<div id="navbar"></div>
<body>
    <h1>TRANSACTIONS</h1>
    <section class="t_section1">
        <div id="options">

                <button class="option1">Transfer between </br>  Accounts</button>
                <button class="option1">Send </br> Money</button>

        </div>

        <div>
            <div class="search_container">
                <form>
                    <!--TODO: Add icon-->
                    <!--TODO: Implement search bar functionality-->
                    <input type="search" placeholder="Search Contacts" name="search" id="search">
<!--                    <button >Filter</button>-->
                </form>
            </div>

            <form>
                <input type="email" placeholder="email@domain.com">
                <input type="text" placeholder="Account Number">
                <input type="text" placeholder="Description">
                <input type="text" placeholder="$ Amount">
                <button id="submit_form">SEND</button>
            </form>
        </div>
    </section>

    
    <section  class="t_section2">
        <h3>Recent Transactions</h3>
        <div class="notification_card">
            <div class="circle">
            </div>

            <div class="t_desc">
                <h5>First LastName</h5>
                <p>Amount: $20</p>
                <p>Description: Transfer sent to Polly</p>
            </div>
        </div>

        <div class="notification_card">
            <div class="circle">
            </div>
            <div class="t_desc">
                <h5>First LastName</h5>
                <p>Amount: 300</p>
                <p>Description: Transfer between accounts</p>
            </div>

        </div>

        <div class="notification_card">
            <div class="circle">
            </div>

            <div class="t_desc">
                <h5>First LastName</h5>
                <p>Amount: $20</p>
                <p>Description: Transfer sent to Laura</p>
            </div>
        </div>
    </section>
    <div id="footer"></div>
    <script src="/static/js/load_nav_footer.js"></script>
</body>
</html>