<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SECUBANK</title>
</head>
<body>
    <form th:action="@{/transferByEmail}" th:object="${transactionDto}" method="POST">
        <div>
            <label for="fromAccountNumber">Account Number:</label>
            <input type="text" id="fromAccountNumber" th:field="*{fromAccountNumber}" placeholder="Enter account number" />
            <div th:if="${#fields.hasErrors('fromAccountNumber')}" th:errors="*{fromAccountNumber}">Incorrect account number</div>
        </div>

        <div>
            <label for="toUserEmail">Enter user's email:</label>
            <input type="email" id="toUserEmail" th:field="*{toUserEmail}" placeholder="Enter user's email" />
            <div th:if="${#fields.hasErrors('toUserEmail')}" th:errors="*{toUserEmail}">Incorrect user's email</div>
        </div>

        <div>
            <label for="amount">Amount:</label>
            <input type="text" id="amount" th:field="*{amount}" placeholder="Enter Amount" />
            <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Incorrect Amount</div>
        </div>

        <div>
            <label for="description">Add a Memo:</label>
            <input type="text" id="description" th:field="*{description}" placeholder="Add a memo" />
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Incorrect memo description</div>
        </div>

        <div>
            <button type="submit">Send Money</button>
        </div>
    </form>

</body>
</html>