<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SECUBANK</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}" href="/static/css/home.css">
    <script type="text/javascript" src="/js/load_nav_footer.js"  th:src="@{/js/load_nav_footer.js}" defer></script>
</head>

<div id="navbar"></div>
<body>
<div class="login_container">
    <section class="l_section1">
        <h1>UPDATE PROFILE</h1>
    <form method="POST" th:action="@{/updateUser}" th:object="${user}">
        <div class="form-group">
            <label for="userName">Username:</label>
            <input class="user_info"  type="text" id="userName" th:field="*{userName}" />
            <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username Error</div>
        </div>
<!--        <div>-->
<!--            <label for="password">Password:</label>-->
<!--            <input type="password" id="password" th:field="*{password}" />-->
<!--            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>-->
<!--        </div>-->
        <div class="form-group">
            <label class="user_title" for="email">Email:</label>
            <input class="user_info"  type="email" id="email" th:field="*{email}" />
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input class="user_info"  type="text" id="address" th:field="*{address}" />
            <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</div>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input class="user_info"  type="text" id="phoneNumber" th:field="*{phoneNumber}" />
            <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Number Error</div>
        </div>
        <div class="form-group">
            <label for="profilePicture">Profile Picture:</label>
            <input class="user_info"  type="text" id="profilePicture" th:field="*{profilePicture}" />
        </div>
        <div class="form-group">
            <label for="language">Language:</label>
            <input class="user_info"  type="text" id="language" th:field="*{language}" />
        </div>

        <div>
            <button class="submit_form" type="submit">Update User Info </button>
            <a style="color: orangered" th:href="@{/profile}">Cancel</a>
        </div>

    </form>

    </section>
    <section class="l_section2">
        <img th:src="@{/images/img1.jpeg}" alt="profile_img">
    </section>
</div>
    <div id="footer"></div>
</body>
</html>